{% extends "base.html" %} {% block content %} {% block toc %} {% endblock %}

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
  rel="stylesheet"
/>
<link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
<script nonce="quids1" src="{{ 'javascripts/ajv.js' | url }}"></script>
<link rel="stylesheet" href="{{ 'stylesheets/coloris.min.css'| url }}" />
<script nonce="ds1452" src="{{ 'javascripts/coloris.min.js' | url }}"></script>
<script nonce="quids13" src="{{ 'javascripts/marked.min.js' | url }}"></script>
<script nonce="quids1HAM" src="{{ 'javascripts/hammer.min.js' | url }}"></script>
<script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
<script nonce="quids12" src="{{ 'javascripts/openhero_builder.js' | url }}"></script>
<audio id="damage_audio" controls>
  <source src="{{ 'assets/damage.m4a' | url }}" type="audio/mp4">
  <source src="{{ 'assets/damage.ogg' | url }}"  type="audio/ogg">
  <source src="{{ 'assets/damage.mp3' | url }}"  type="audio/mpeg">
  Your browser does not support the audio element.
</audio>
<audio id="dice_audio" controls>
  <source src="{{ 'assets/dice.m4a' | url }}" type="audio/mp4">
  <source src="{{ 'assets/dice.ogg' | url }}"  type="audio/ogg">
  <source src="{{ 'assets/dice.mp3' | url }}"  type="audio/mpeg">
  Your browser does not support the audio element.
</audio>
<script nonce="quids14">
  function markdownToHtml(markdown) {
    return marked(markdown);
  }

   window.onload = function () {
    loadPowers()
      .then(() => {
        loadJsonFromCookie();
        document.getElementById("useCookie").checked = cookieData.save;
      })
      .catch((error) => {
        console.error("Error loading powers or building page:", error);
        loadDefaultData();
      });
  };
</script>
{{ super() }} {% endblock %}
