{% extends "base.html" %} {% block content %} {% block toc %} {% endblock %}

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
  rel="stylesheet"
/>
<link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
<script nonce="quids1" src="{{ 'javascripts/ajv.js' | url }}"></script>
<script nonce="quids12" src="{{ 'javascripts/openhero.js' | url }}"></script>
<script nonce="quids13" src="{{ 'javascripts/marked.min.js' | url }}"></script>
<script nonce="quids14">
  function markdownToHtml(markdown) {
    return marked(markdown);
  }

  window.onload = function () {
    loadPowers()
      .then(() => {
        loadJsonFromCookie();
      })
      .catch((error) => {
        console.error("Error loading powers or building page:", error);
      });
  };
</script>
{{ super() }} {% endblock %}
