{% extends "base.html" %} {% block content %} {% block toc %} {% endblock %}

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
  rel="stylesheet"
/>
<link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
<script src="{{ 'javascripts/ajv.js' | url }}"></script>
<script src="{{ 'javascripts/openhero.js' | url }}"></script>
<script>
  window.onload = function () {
    loadJsonFromCookie();
  };
</script>
{{ super() }} {% endblock %}
