{% extends "base.html" %} {% block content %}

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
  rel="stylesheet"
/>
<link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">

<div class="hero-container">
  <div class="hero-box">
    <img
      src="{{ 'assets/title.png' | url }}"
      class="parallax-image"
      data-depth="0"
      top="0px"
    />
    <div class="fade-overlay"></div>
  </div>
</div>

<script src="{{ 'javascripts/splash.js' | url }}"></script>
<script src="{{ 'javascripts/openhero.js' | url }}"></script>
<script>
  window.onload = function () {
    loadJsonFromCookie();
  };
</script>
{{super()}} {% endblock %}

{% block styles %} {{ super() }}
<style>
  :root {
    --fade-overlay-color: #fff;
  }

  [data-md-color-scheme="slate"] {
    --fade-overlay-color: #1f2129;
  }

  .hero-container {
    position: relative;
    width: 100%;
    height: 110vh;
    overflow: hidden;
    margin-top: -22px;
  }

  .hero-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .parallax-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
  }

  .fade-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--fade-overlay-color);
    opacity: 0;
  }

  div.overover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff0;
    text-align: center;
  }

  div.overover h1 {
    position: absolute;
    bottom: 10%;
    right: 5%;
    display: inline;
    padding: 10px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 18px;
    background-color: var(--fade-overlay-color);
    opacity: 0.8;
    font-weight: bold;
  }
</style>
{% endblock %}
