.md-header__button.md-logo {
  margin-top: -14px;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 14px;
}

.md-header__button.md-logo img,
.md-header__button.md-logo svg {
  height: 80px;
  width: 80px;
}

.mdx-hero--custom {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.md-main__inner {
  margin-top: 0;
}