:root {
  --base-border-radius: 0.5rem;
  --pk_die_green: #00ff1e;
  --pk_die_red: #ff2200;
  --pk_shield: black;
  --pk_primary_color: var(--md-primary-fg-color);
  --pk_settings_dark: color-mix(in srgb,
      var(--pk_primary_dark),
      var(--md-default-bg-color) 40%);
  --pk_primary_dim_faint: color-mix(in srgb,
      var(--pk_primary_color),
      transparent 90%);
  --pk_primary_dim_max: color-mix(in srgb,
      var(--pk_primary_color),
      transparent 75%);
  --pk_primary_dim_mid: color-mix(in srgb,
      var(--pk_primary_color),
      transparent 50%);
  --pk_primary_dim_min: color-mix(in srgb,
      var(--pk_primary_color),
      transparent 25%);
  --pk_primary_dark: color-mix(in srgb,
      var(--pk_primary_color),
      var(--md-typeset-color) 80%);
  --pk_die_adv: color-mix(in srgb,
      var(--pk_die_green),
      var(--md-typeset-color) 30%);
  --pk_die_disadv: color-mix(in srgb,
      var(--pk_die_red),
      var(--md-typeset-color) 30%);
}

/* Dark color scheme */
[data-md-color-scheme="slate"] {
  --pk_primary_dark: color-mix(in srgb,
      var(--pk_primary_color),
      var(--md-typeset-color) 90%);
  --pk_die_adv: color-mix(in srgb,
      var(--pk_die_green),
      var(--md-typeset-color) 30%);
  --pk_die_disadv: color-mix(in srgb,
      var(--pk_die_red),
      var(--md-typeset-color) 30%);
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}


.md-header {
  background-color: var(--pk_primary_color);
}

.md-typeset h1 {
  /* font-family: "Bangers", sans-serif; */
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3.5rem;
  text-align: center;
  padding-top: 0;
  margin-bottom: 0em;
  color: var(--pk_primary_dark);
  -webkit-text-stroke: 1px var(--pk_primary_dim_faint);
  -webkit-text-fill-color: var(--pk_primary_dark);
}

.md-search__icon[for="__search"] {
  color: var(--pk_primary_color);
}

.md-search__input {
  color: var(--md-primary-fg-color)
}

.md-typeset h2 {
  /* font-family: "Bangers", sans-serif; */
  font-family: "Bebas Neue", sans-serif;
  font-size: 2.2rem;
  text-align: center;
  padding-top: 0;
  margin: 0em;
  color: var(--pk_primary_dark);
  -webkit-text-stroke: 1px var(--pk_primary_dim_faint);
  -webkit-text-fill-color: var(--pk_primary_dark);
  border-top: 3px solid var(--pk_primary_dim_mid);
}

h1.title {
  /* font-family: "Bangers", sans-serif; */
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3.5rem;
  text-align: center;
  padding-top: 0;
  margin-bottom: 0em;
  color: var(--pk_primary_dark);
}

h1.rules_title {
  /* display: none; */
  padding: 0;
  margin: 0;
  font-size: 20px;

}

#example3 {
  color: black;
  font-size: 34px;
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: white;
}

.md-typeset h3 {
  /* Add your formatting styles here */
  /* font-family: "Bangers", sans-serif; */
  font-family: "Bebas Neue", sans-serif;
  font-size: 30px;
  /* color: #ff8c00; */
  color: var(--pk_primary_dark);
  margin: 0;
  /* padding-top: 20px; */
}

.md-typeset h4 {
  margin: 0;
  padding-top: 4px;
}

.md-typeset h4.power-title {
  cursor: pointer;
  padding-top: 0;
  margin-top: 0;
  font-size: 1em;
  border-radius: 0.6em;
  padding-left: 10px;
  background-color: var(--pk_primary_dim_faint);
}

#character-builder {
  display: none;
  z-index: 9999;
}

/* Markdown Button */
.md-typeset .md-button {
  border-radius: var(--base-border-radius);
}

.md-typeset li {

  margin: 0;
  padding: 0;
  padding-left: 1em;
}

/* Forms */
.md-search__form {
  border-radius: var(--base-border-radius);
}

[data-md-toggle="search"]:checked~.md-header .md-search__form {
  border-top-right-radius: var(--base-border-radius);
  border-top-left-radius: var(--base-border-radius);
}

[dir="ltr"] .md-search__output {
  border-bottom-right-radius: var(--base-border-radius);
  border-bottom-left-radius: var(--base-border-radius);
}

/* Table */
.md-typeset__table {
  min-width: 100%;
  padding: 0;
  line-height: 1;
}

.md-typeset table:not([class]) {
  border-color: var(--pk_primary_color);
  border-radius: 0.4em;

  display: table;
  padding: 0;
  margin: 0 auto;
  min-width: 40%;
  width: unset;
}

.md-typeset table:not([class]) td {
  border-top: 0.05rem solid var(--md-typeset-table-color);
  padding: 0.1375em 0.25em;
  vertical-align: top;
}

.md-typeset abbr {
  /* font-family: var(--md-code-font-family); */
  background-color: var(--pk_primary_dim_max);
  padding: 0.0em 0.4em;
  margin: 0 0.1em;
  border-radius: 0.2em;
  font-size: 100%;
  cursor: default;
}

/*  */

.build_panel {
  display: block;
}

span.vuln,
span.imm,
span.resist {
  font-size: 150%;
  padding-bottom: 0px;
}

span.tiny {
  font-size: 140%;
  padding-bottom: 4px;
}


.stats_panel {
  width: 136px;
  background-color: var(--md-default-bg-color);
  border: 2px solid var(--pk_primary_color);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 2px;
}

.data_panel {
  width: 136px;
  /* background-color: var(--md-default-bg-color); */
  text-align: center;
  padding: 2px;
}

.ability_label {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  text-align: center;
  padding-right: 0.2em;
}

.box_1by4,
.box_1by3,
.box_1by2,
.box_1by1 {
  font-family: "Bebas Neue", sans-serif;
  line-height: 1;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 128px;
  border-radius: 8px;
  margin-bottom: 2px;
}

.box_1by1 {
  height: 80px;
}

.box_1by2 {
  height: 162px;
}

.box_1by3 {
  height: 244px;
}

.box_1by4 {
  height: 326px;
}

.clear {
  /* background-color: var(--md-default-bg-color); */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  border-radius: 0;
  height: 80px;
  font-size: 0.7rem;
}

.power {
  background-color: var(--pk_primary_color);
  padding-top: 18Bpx;
}

.move {
  background-color: var(--pk_primary_dim_mid);
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 4px;
}

.overflow {
  padding-top: 10px;
  /* min-height: 244px; */
  /* Set a fixed height for the container */
  /* overflow-y: auto; */
  /* Enable vertical scrolling */
}

.carry {
  background-color: var(--pk_primary_dim_max);
  display: flex;
  flex-direction: column;
}

.statbox {
  background-color: var(--pk_primary_color);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.setter {
  display: inline-flex;
  background-color: color-mix(in srgb,
      var(--pk_primary_color),
      transparent 70%);
  ;
  border: 1px solid var(--pk_primary_dark);
  align-items: center;
}

.setter_s {
  display: none;
  width: 90px;
  border: 2px solid var(--md-accent-fg-color);
  align-items: center;
}

.div-wide {
  width: 90vw;
  min-width: 700px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topmatter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  line-height: 1.1;
}

.left-side,
.right-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2px;
}

.right-side {
  padding-left: 6px;
  align-items: flex-start;
}

.label {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.brief_style {
  padding-top: 0;
  margin-top: 0;
  font-style: italic;
  font-size: 14px;
  line-height: 1.1;
}

.side_button {
  position: fixed;
  top: 17px;
  right: 17px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.side_button p {
  padding-left: 0;
}

.pool_adv,
.pool_disadv,
.tray_adv,
.tray_disadv {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  flex-wrap: wrap;
  display: inline-block;
  white-space: nowrap;
  overflow: visible;
  left: 5px;
  position: absolute;

  cursor: pointer;
}

.tray_disadv {
  bottom: -34px;
  opacity: 50%;
}

.tray_adv {
  bottom: 37px;
  opacity: 50%;
}

.pool_disadv {
  width: 24px;
  bottom: -17px;
  left: 50px;
  fill: var(--pk_die_disadv);
}

.pool_adv {
  width: 24px;
  left: 50px;
  bottom: 7px;
  fill: var(--pk_die_adv);
}

.no2 {
  top: 67px;
}

.no-2 {
  top: 67px;
  left: 17px;
}

.no-3 {
  top: 117px;
  left: 17px;
}

.no-5 {
  top: 217px;
  left: 17px;
}

.no-1 {
  top: 17px;
  left: 17px;
}

.no3 {
  top: 117px;
}

.on1 {
  top: auto;
  bottom: 60px;
}

.on-1 {
  left: 17px;
  top: auto;
  bottom: 60px;
}

.no4 {
  top: 167px;
}

.side_button_rnd {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--md-default-bg-color);
  border: 5px solid var(--pk_primary_dark);
  /* border: none; */
  font-size: 36px;
  padding-top: 4px;
  cursor: pointer;
}

.side_button_rnd svg {
  width: 32px;
  height: 32px;
}

.fixed_admonition {
  display: block;
  justify-content: center;
  margin: 0 auto;
  width: 560px;
}

.fixedmatter {
  display: flex;
  justify-content: center;
  margin: 0;
}

.middle-fixed {
  width: 560px;
  /* background-color: #f1f1f1; */

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2px;
  margin-bottom: 20px;
}

.left-fixed,
.right-fixed {
  width: calc((100% - 560px) / 2);
}

.defense-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 600px;
  margin: 0 auto;
  gap: 8px;
  padding-left: 20px;
}

.defense-column {
  flex: 0 0 30%;
  box-sizing: border-box;
  padding: 0 0px;
  padding-bottom: 5px;
  padding-top: 3px;
}

.adv,
.advantage {
  color: var(--pk_die_adv);
}

.disadv,
.disadvantage {
  color: var(--pk_die_disadv);
}

.md-header__title {
  /* font-family: "Bangers", sans-serif; */
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  text-align: center;
  margin: 0 auto;
}

.md-ellipsis {
  overflow: visible;
  color: var(--pk_primary_dark);

  -webkit-text-fill-color: var(--pk_primary_dark);

}

.md-ellipsis:hover {
  overflow: visible;
  color: var(--pk_primary_dark);
  -webkit-text-stroke: 3px var(--pk_primary_dim_max);
  -webkit-text-fill-color: var(--md-typeset-color);

}

/* This in the inline box for Armor Class */
.inline-box-container {
  display: inline-block;
  vertical-align: middle;
  line-height: 20px;
}

.inline-box {
  display: inline-block;
  background-color: #f1f1f1;
  padding: 2px 6px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-weight: bold;
  color: #333;
  height: 24px;
  /* Adjust the height as needed */
  line-height: 20px;
  /* Adjust the line-height to vertically center the text */
}

.rounded {
  border: 1px solid var(--pk_primary_color);
  border-radius: 10px;
}

.defense-table {
  padding: 0;
  border-collapse: collapse;
  vertical-align: middle;
}

.fixed-cell,
.label-cell {
  height: 20px;
  /* Set the desired height for the table cell */

  font-size: 90%;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
}

.fixed-cell {
  width: 30px;
  /* Set the desired width for the table cell */
  text-align: center;
}

.double {
  width: 45px;
  /* Set the desired width for the table cell */
  text-align: center;
}

.label-cell {
  font-weight: bold;
  text-align: right;
  padding-right: 4px;
  padding-left: 4px;
  height: 26px;
}

.table_footnote {
  font-size: 75%;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
}

.titlerow {
  border-bottom: 1px solid #ff8c00;
}

.d20 {
  width: 20px;
  height: 20px;
  object-fit: contain;
  display: block;
  margin: auto;
}

.ability_label {
  margin: 0;
  font-size: 1.6rem;
}

.setter_label {
  margin: 0;
  font-size: 1.3rem;
}

.ability_num {
  font-family: "Roboto";
  font-size: 2.4em;
  background-color: var(--md-default-bg-color);
  font-weight: bold;
  margin-right: 4px;
  width: 60px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 12px;
  text-align: center;
}

.framed_label {
  margin: 0;
  padding-top: 8px;
  font-size: 1.1rem;
}

.bold {
  font-weight: bold;
}

.framed_num {
  font-family: "Roboto";
  font-size: 1.8em;
  background-color: var(--md-default-bg-color);
  margin-right: 4px;
  width: 80%;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 12px;
  text-align: center;
}

.framed_num.move {
  margin-right: px;
  min-width: 50%;
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 12px;
  text-align: center;
}

.unframed_label {
  margin: 0;
  padding-top: 0px;
  padding-left: 3px;
  font-size: 1rem;
}

.padded {
  padding-left: 16px;
}

.unframed_num {
  font-family: "Roboto";
  font-size: 1.4em;
  /* background-color: #fff; */
  margin-right: 4px;
  width: 80%;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 12px;
  text-align: center;
}

.number-input {
  width: 90px;
  height: 60px;
  border-radius: 5px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
  text-align: center;
}

.small {
  width: 90px;
  height: 30px;
  font-size: 1.2rem;
}

.huge {
  font-size: 200%;
}

.fraction {
  padding: 10px;
  padding-top: 2px;
  padding-bottom: 0px;

  margin-top: 4px;
  margin-bottom: 14px;
  font-size: 1.1rem;
  border: 1px solid var(--md-typeset-color);
  border-radius: 8px;
}

.dim {
  color: var(--pk_primary_dark);
}

.orange {
  padding-top: 2px;
  color: color-mix(in srgb, var(--md-typeset-color), transparent 40%);
  font-size: 100%;
}

.tool-net-panel {
  position: absolute;
  background-color: var(--md-default-bg-color);
  border-radius: 12px;
  border: 2px solid var(--pk_primary_color);
  width: 360px;
  min-width: 360px;
  padding: 10px;
}

.build-network {
  display: none;
}

.tool-add-panel {
  position: absolute;
  top: 84px;
  background-color: var(--md-default-bg-color);
  border: 2px solid var(--pk_primary_color);
  border-radius: 12px;
  flex-direction: column;
  width: 360px;
  min-width: 360px;
  padding: 10px;
}

.combatants {
  position: fixed;
  bottom: 14px;
  right: 10px;
  background-color: var(--md-default-bg-color);
  border: 2px solid var(--pk_primary_color);
  border-radius: 12px;
  overflow-y: scroll;
  flex-direction: column;
  width: 360px;
  min-width: 360px;
  padding: 10px;
}

.drawer {
  position: absolute;
  right: 0px;
  width: 150px;
  display: none;
  height: 60px;
  flex-direction: row-reverse;
  border-radius: 8px;
  background-color: var(--pk_primary_dim_min);
  color: var(--pk_primary_color);
  margin-right: 2px;
}

.drawer input[type="number"] {
  align-items: center;
  flex-direction: column;
  width: 85px;
  height: 54px;
  margin: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: 1px solid var(--pk_primary_dark);
}

.tiny-button {
  background-color: var(--md-default-bg-color);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: 1px solid var(--pk_primary_dark);
  padding: 0px;
  margin-top: 14px;
  margin-right: 2px;
  margin-left: 2px;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.tiny-button svg {
  width: 100%;
  margin: 0;
  height: 100%;
}


.slider {
  position: fixed;
  left: -360px;
  width: 360px;
  transition: left 0.3s ease-in-out;
  z-index: 1000;
}

.slider.open {
  left: 110px;
}

/* SETTINGS PANEL */

.settings-panel {
  background-color: var(--pk_settings_dark);
  border-radius: 12px;
  transition: opacity 0.4s ease-in-out;
  padding: 12px;
  padding-bottom: 0;
  display: flex;
  overflow: auto;
  z-index: 666;
}

.settings-tone {
  background-color: var(--pk_settings_dark);
  border-radius: 12px;
  transition: opacity 0.4s ease-in-out;
  padding: 12px;
  padding-bottom: 0;
}

.stat {
  background-color: var(--pk_primary_dim_mid);
  border-radius: 10px;
  margin: 14px;

}

.overflow-cell {
  max-width: 100px;
  overflow: visible;
  white-space: nowrap;
}


#colorPickerButton {
  width: 120px;

}

.item {
  flex-grow: 0;
  flex-shrink: 0;
}

.here {
  display: inline;
  position: absolute;
}

.background_notes_column {
  background-color: #d3d3d3;
  display: flex;
  flex-direction: row;
  width: 100px
}


.settings-panel.visible {
  opacity: 1;
  visibility: visible;
}


.network-panel,
.powers_column,
.json_viewer_column,
.personal_details_column {
  position: relative;
  background-color: var(--md-default-bg-color);
  border-radius: 12px;
  flex-direction: column;
  width: 360px;
  min-width: 360px;
  height: 100%;
  overflow-y: auto;
  margin: 2px;
  padding: 10px;
}

.powers_column {
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin-left: 10px;
  background-color: var(--md-default-bg-color);
  border-radius: 12px;
  overflow-y: auto;
  padding: 10px;
}



#calculatorPanel {
  position: fixed;
  top: 160px;
  right: 160px;
  width: 288px;
  /* height: 600px; */
  z-index: 777;
  opacity: 0;
  visibility: hidden;
}

#damage_column {
  position: absolute;
  top: 0;
  left: -30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.damage-item {
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-weight: bold;
  font-size: 120%;
  background-color: red;
  color: white;
  border-radius: 20px;
  width: 40px;
  height: 40px;

}

#character-builder {
  position: fixed;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95vw;
  height: 95vh;
  padding: 10px;
  z-index: 778;
  overflow-y: auto;
}

.icon {
  width: 120px;
  height: 120px;
  fill: white;
  margin-right: 5px;
}

.modal-content {
  cursor: move;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  font-weight: bold;
  color: var(--md-default-bg-color);
  cursor: pointer;
}

.feedback {
  width: 100%;
  min-height: 50px;
  max-height: 270px;
  overflow-y: auto;
  font-size: 16px;
  font-weight: bold;
  background-color: var(--md-default-bg-color);
  color: #ff8c00;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 10px;
  border-radius: 8px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu;
}

.sub-panel {
  display: flex;
  margin-bottom: 18px;
}

#damage-cpanel {
  align-items: center;
  /* background-color: #8a2222; */
  gap: 10px;
}

#heal-cpanel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  /* background-color: #20693a; */
}

#inputs-cpanel {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #592069; */
}

.left-column {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 4px;
}

.right-column {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 4px;
}

.cpanel-button-label {
  margin-left: 5px;
  margin-right: 5px;
  color: #f1f1f1;
  font-weight: bold;
  margin-bottom: 0;
}

.cpanel-button {
  padding: 7px;
  width: 38px;
  height: 38px;
  margin: 2px;
  background-color: #1c8c1e;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.cpanel-button.red {
  background-color: #8a2222;
}

.cpanel-button.dark {
  background-color: #1e7520;
}

.button-column {
  display: flex;
  flex-direction: column;
}

.left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.right-column {
  text-align: left;
}

.clickable {
  cursor: pointer;
  z-index: 9999;
  pointer-events: all;
  font-weight: bold;
  font-size: 0.7rem;
}

/* funcky checkbox */
.materials-checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: var(--pk_primary_dark);
}

.materials-checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.materials-checkbox .checkbox-box {
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 2px solid var(--pk_primary_dark);
  border-radius: 4px;
  margin-right: 8px;
  position: relative;
  transition: border-color 0.3s ease;
}

.materials-checkbox .checkbox-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
  background-color: var(--pk_primary_color);
  border-radius: 2px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.materials-checkbox input[type="checkbox"]:checked~.checkbox-box {
  border-color: var(--pk_primary_dark);
}

.materials-checkbox input[type="checkbox"]:checked~.checkbox-box .checkbox-icon {
  opacity: 1;
}

.materials-checkbox:hover .checkbox-box {
  border-color: var(--pk_primary_dark);
}

/* stuff for settings feedback panel */
span.alert {
  display: block;
  color: #6f1d10;
}

span.warn {
  display: block;
  color: #f2880e;
}

span.result {
  display: block;
  color: #20693a;
}

span.info {
  display: block;
  color: #2d7eda;
}

.admonition {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.md-typeset table#attack_array {
  line-height: 1;
  border-radius: 10px;
}

.power-section {
  margin-bottom: 10px;
  /* border: 2px solid #170e052f; */
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

p {
  margin-top: 4px;
  margin-bottom: 4px;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

.brief-section {
  max-height: 100px;
  font-style: italic;
  font-size: 0.9em;
  overflow: hidden;
  padding-right: 10px;
  transition: max-height 0.3s ease;
  text-align: right;
}

.power-footer {
  text-align: right;
}

.description-section {
  max-height: 0;
  font-family: "Roboto", monospace;
  overflow: hidden;
  font-style: italic;
  font-size: 90%;
  padding-left: 30px;
  line-height: 1.3;
  transition: max-height 0.3s ease;
}

.bkg_style {
  font-family: "Roboto", monospace;
  overflow: hidden;
  font-style: italic;
  font-size: 98%;
  padding-left: 30px;
  line-height: 1.4;
}

.power-section.expanded .brief-section {
  max-height: 0;
  opacity: 0;
}

.power-section.expanded .description-section {
  max-height: 2000px;
  opacity: 1;
}

/* This is to format the attack array table */
.md-typeset table#attack_array {
  width: 100%;
  table-layout: fixed;
}

.md-typeset table#attack_array th:nth-child(1),
.md-typeset table#attack_array td:nth-child(1) {
  width: auto;
  font-weight: bold;
}

.md-typeset table#attack_array th:nth-child(2),
.md-typeset table#attack_array td:nth-child(2) {
  width: 15%;
  text-align: right;
  font-style: italic;
}

.md-typeset table#attack_array th:nth-child(3),
.md-typeset table#attack_array td:nth-child(3),
.md-typeset table#attack_array th:nth-child(4),
.md-typeset table#attack_array td:nth-child(4),
.md-typeset table#attack_array th:nth-child(5),
.md-typeset table#attack_array td:nth-child(5),
.md-typeset table#attack_array th:nth-child(6),
.md-typeset table#attack_array td:nth-child(6) {
  width: 8%;
  text-align: center;
}

.md-typeset table#attack_array th:nth-child(4),
.md-typeset table#attack_array td:nth-child(4) {
  width: 20%;
  text-align: center;
}

.range-style,
.power-style,
.damage-style,
.attack-mod-style,
.ac-style,
.sr-style,
.dr-style,
.mv-style {
  color: var(--pk_primary_color);
  font-size: 80%;
  padding-left: 4px;
  margin-left: 4px;
  font-weight: bold;
  border-left: 1px solid var(--pk_primary_color);
}

.type-style {
  color: var(--pk_primary_color);
  font-size: 80%;
  padding-right: 4px;
  margin-right: 4px;
  font-style: italic;
  /* border-right: 1px solid #ff8c00; */
}

.power-style {
  color: var(--pk_primary_dark);
  font-size: 80%;
  padding-left: 4px;
  margin-left: 4px;
  font-weight: bold;
  border-left: 1px solid var(--pk_primary_color);
}

.hang_right {
  color: var(--pk_primary_color);
  float: right;
  margin-right: 12px;
}

.defenses-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.defense-boxes {
  display: flex;
  gap: 10px;
  /* background-color: #f2880e; */
}

.def_element {
  padding: 0;
  margin: 0;
}

.defbox {
  background-color: var(--pk_primary_dim_mid);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 110px;
  height: 68px;
  padding-left: 6px;
  transition: opacity 0.9s ease;
}

.defense-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1;
}

.defense-info span {
  margin-bottom: 0px;
  font-size: 1em;
}

.def-table {
  border-collapse: collapse;
  font-size: 14px;
  line-height: 1.2;
}

.def-table td {
  padding: 0 4px;
  white-space: nowrap;
}

.def-table td:first-child {
  text-align: right;
  font-weight: bold;
}

.def-table td:last-child {
  text-align: left;
}

#notes_out {
  margin-bottom: 80px;
}

/* inputs for name and weight */
/* Inputs */
input[type="text"],
input[type="password"] {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding: 8px 12px;
  border: 2px solid var(--pk_primary_color);
  border-radius: 8px;
  background-color: var(--md-default-bg-color);
  color: var(--md-typeset-color);
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

input[type="text"]:focus {
  box-shadow: 0 0 0 2px var(--pk_primary_color);
}

table.details {
  border-collapse: collapse;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.detail_title {
  font-family: "Bebas Neue", sans-serif;
  text-align: right;
  padding-right: 12px;
  font-size: 1.1rem;
}

span.editor {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

span.editor_v {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: right;
}

/* Speech bubbles feedback */
.process-bubble {
  background: #cad38f;
  display: inline-block;
  font-size: 14px;
  line-height: 1.4em;
  margin: 0.1em;
  padding: 0.4em 0.8em 0.4em 0.9em;
  position: relative;
  text-align: left;
  vertical-align: top;
  max-width: 75%;
  border-radius: 1.3em;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu;
  display: inline-block;
}

.process-bubble.relax,
.process-bubble.error,
.process-bubble.alert {
  text-align: center;
  text-emphasis-style: bold;
  color: #591313;
  font-size: 13px;
  line-height: 1em;
  background-color: #00000000;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.process-bubble.relax {
  color: #046225;
}

.process-bubble.error {
  color: #ffffff;
  padding: 0.5em;
  background-color: #591313;
}

.process-bubble.damage {
  background: #231616;
  /* text-emphasis-style: bold; */
  color: #fff;
  margin-right: auto;
  /* margin-top: 14px; */
}

.process-bubble.note {
  text-align: center;
  color: #6d6d6d;
  font-size: 11px;
  line-height: 1em;
  background-color: #00000000;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.process-bubble.hp {
  margin-left: auto;
  margin-right: 0px;
  background: #9f2727;
  color: #fff;
}

.process-bubble.pr {
  margin-left: auto;
  margin-right: 0px;
  background: #3a77d3;
  color: #fff;
}

.process-bubble.ar {
  margin-left: auto;
  margin-right: 0px;
  background: #0b6c37;
  color: #ababab;
}

.process-bubble.sr {
  margin-left: auto;
  margin-right: 0px;
  background: #3b3b3b;
  color: #9e9e9e;
}

.process-bubble.heal {
  margin-left: auto;
  margin-right: 0px;
  color: #9f2727;
  background-color: #fff;
  border: 2px solid #9f2727;
}


.process-bubble.roll {
  margin-left: auto;
  margin-right: 0px;
  position: relative;
  border-radius: 0px;
  width: 40px;
  background-color: var(--md-primary-fg-color);
  color: var(--md-typeset-color);
  font-size: 100%;
  line-height: 1;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.roll::before,
.roll::after {
  content: "";
  left: 0px;
  position: absolute;
  color: var(--md-primary-fg-color);
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

.roll::before {
  bottom: 100%;
  border-bottom: 11px solid;

}

.roll::after {
  top: 100%;
  border-top: 11px solid;

}

input.tiny {
  width: 60px;
  height: 60px;
  font-size: 2em;
  border-radius: 4px;
  border: 2px solid var(--pk_primary_color);
}

#swapButton {
  display: none;
}

.floating-image {

  width: 300px;

  max-height: 100%;
  pointer-events: none;
  z-index: 669;
}

#image-container,
#characterImage {
  position: fixed;
  top: 50%;
  display: block;
  transform: translateY(-50%);
  height: auto;
  max-height: 100%;
  z-index: 8888;
  background-color: transparent;
  pointer-events: none;
}

/* All this shit is for color picker */
input {
  width: 100%;
  /* height: 32px; */
  /* padding: 0 10px; */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  box-sizing: border-box;
}

.examples {
  display: flex;
  flex-wrap: wrap;
}

.example {
  flex-shrink: 0;
  width: 300px;
  margin-bottom: 30px;
}

.gaps {
  padding: 0.5em;
  margin: 0 auto;
  margin-bottom: 0.5em;
  width: 80%;
}

.faint {
  background-color: var(--pk_primary_dim_faint);
  border-radius: 0.5em;
  padding: 0 15px;
}

.square .clr-field button,
.circle .clr-field button {
  width: 22px;
  height: 22px;
  left: 5px;
  right: auto;
  border-radius: 5px;
}

.square .clr-field input,
.circle .clr-field input {
  padding-left: 36px;
}

.circle .clr-field button {
  border-radius: 50%;
}

.full .clr-field button {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

/* This is for the little immunities at bottom of power description */
.power_def_sum {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid var(--pk_primary_dim_max);
  color: var(--pk_primary_dark);
}

.pds_immune,
.pds_resist,
.pds_vulnerable {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2px;
  padding-top: 10px;
}

.chill,
.cool,
.warm {
  display: flex;
  align-items: center;
  font-size: 100%;
  font-weight: bold;
  font-style: normal;
  height: 1.4em;
  margin-bottom: 5px;
}

.chill svg,
.cool svg,
.warm svg {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

/* Code for checkboxes */
.power-checkbox,
.weak-checkbox,
.equip-checkbox,
.skill-checkbox,
.magic-checkbox {
  /* Shared styles for all checkboxes */
  /* appearance: none; */
  width: 20px;
  height: 20px;
  padding: 0;
  border: 2px solid var(--pk_primary_dim_min);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.checkbox-table {
  font-size: 80%;
  border: 1pt solid var(--pk_primary_dark);
  border-radius: 8px;
  padding: 8pt;
}

.power-checkbox:checked,
.weak-checkbox:checked,
.equip-checkbox:checked,
.skill-checkbox:checked,
.magic-checkbox:checked {
  /* Styles for checked checkboxes */
  background-color: #ff8c00;
  border-color: #ff8c00;
}

.power-checkbox:checked::before,
.weak-checkbox:checked::before,
.equip-checkbox:checked::before,
.skill-checkbox:checked::before,
.magic-checkbox:checked::before {
  /* Styles for the checkmark when checked */
  content: "\2713";
  display: block;
  color: white;
  font-size: 12px;
  text-align: center;
  line-height: 16px;
}

.weak-checkbox {
  /* Specific styles for weak checkboxes */
  border-color: #ff08ca;
}

.equip-checkbox {
  /* Specific styles for equip checkboxes */
  border-color: #0000ff;
}

.skill-checkbox {
  /* Specific styles for skill checkboxes */
  border-color: #00ff00;
}

.skill-checkbox {
  /* Specific styles for skill checkboxes */
  border-color: #ff0000;
}

.check-row {
  padding: 0;
  margin: 0;
}

.check-cell {
  font-weight: bold;
  text-align: right;
  padding-right: 0px;
  padding-left: 4px;
  height: 26px;
}

/* EXPERIMET */
#roll_box {
  width: 400px;
}

#histogram {
  width: 200px;
  height: 100px;
  display: flex;
  align-items: flex-end;
}

.redbar,
.bar {
  width: 10px;
  background-color: #4caf50;
  margin-right: 1px;
  max-height: 100px;
}

.redbar {
  background-color: #1424ce;
}

.abs {
  /* position: fixed; */
  border: 1px solid var(--pk_primary_dim_max);
  border-radius: 1em;
  opacity: 0.75;
  padding-top: 4px;
}

h3 span {
  margin-left: 0.3em;
}

h3.advantage span {
  color: var(--pk_die_adv);

}

h3.disadvantage span {
  color: var(--pk_die_disadv);

}

h3.boxed span {
  background-color: var(--pk_primary_dim_mid);
  font-family: "Bebas Neue", sans-serif;
  border-radius: 0.1em;
  color: var(--pk_primary_dark);
  padding: 0 10px;
}

/* paswsord input */
.password-input-container {
  position: relative;
}

.password-toggle-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.kpxc {
  display: none;
}

.player-item {
  background-color: var(--pk_primary_dim_faint);
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  cursor: pointer;
}

.player-item-box {

  display: flex;
  align-items: center;
  font-weight: bold;
  font-family: "Bebas Neue", sans-serif;
}

.player-item-num {

  background-color: var(--md-default-bg-color);
  color: var(--md-typeset-color);
  border: 1px solid var(--md-accent-fg-color);
  border-radius: 7px;
  padding: 2px 16px;
  margin: 2px;
  font-size: 130%;
  font-weight: normal;

}

.player-item-title {
  color: var(--pk_primary_dark);
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
  margin: 0;
}

.player-item input[type="checkbox"] {
  width: 25px;
}

.player-item-flex {
  flex: 1 1 0%;
  line-height: 1;
}

.player-item-footnote {
  font-size: 10px;
}

.player-item.selected {
  background-color: var(--pk_primary_dim_mid);
}

.color-icon {
  width: 34px;
  height: 34px;
  border-radius: 10px;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: 1px solid var(--pk_primary_dim_min);
}

.initiative-roll {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  font-weight: bold;
  font-size: 14px;
}

.stat_summary {
  font-family: "Bebas Neue", sans-serif;
  font-size: 200%;
  line-height: 1.1;
}

#STR_out,
#END_out,
#AGIL_out,
#INT_out,
#CHA_out {

  min-width: 40px;
  display: inline-block;
  text-align: center;
  padding: 0px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 8px;
  margin-right: 14px;

  background-color: var(--pk_primary_dim_faint);
}

.encounter-scroll {
  /* height: 480px; */
  max-height: 480px;
  min-height: 180px;
  overflow-y: scroll;
}

.md-typeset__scrollwrap {
  margin: 0;
}

.lower-glass {
  width: 240px;
  left: 20px;
  position: fixed;
  max-height: 360px;
  bottom: 140px;
  background-color: transparent;
  color: var(--md-primary-fg-color);
  /* border: 2px solid var(--pk_primary_dim_faint); */
  border-radius: 12px;
  display: flex;
  flex-direction: column-reverse;
  gap: 4px;
  padding: 10px;
  overflow-y: scroll;
}


.summary-box {
  display: none;
}

/* Timeline */
#timeline-container {
  width: 75%;
  max-width: 770px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

#timeline {
  width: 100%;
  height: 7px;
  background-color: #ccc;
  position: relative;
}

.tick-dot {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  position: absolute;
  top: -14px;
  transform: translateX(-50%);
  border: 5px solid var(--pk_primary_color);
  cursor: pointer;
}

.tick-dot span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-weight: bold;
  color: black;
  text-shadow:
    -1px -1px 0 #ffffff,
    1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;
}

.focus-indicator {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--pk_primary_color);
  transition: width 0.5s ease;
}

.button-container {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
}

.arrow-button {
  padding: 5px;
  margin: 0 14px;
  font-size: 16px;
  background-color: var(--pk_primary_dim_max);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: 2px solid var(--pk_primary_dark);
  color: var(--md-typeset-color);
  border-radius: 25%;
  border: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.arrow-button.left {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M20 11v2H8l5.5 5.5-1.42 1.42L4.16 12l7.92-7.92L13.5 5.5 8 11h12z"/></svg>');
}

.arrow-button.right {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M4 11v2h12l-5.5 5.5 1.42 1.42L19.84 12l-7.92-7.92L10.5 5.5 16 11H4z"/></svg>');
}

@keyframes pulse {
  0% {
    transform: translateY(-2px) translateX(-50%) scale(0.9);
  }

  50% {
    transform: translateY(0) translateX(-50%) scale(1.3);
  }

  100% {
    transform: translateY(-2px) translateX(-50%) scale(0.9);
  }
}

.tick-dot.current {

  animation: pulse 0.8s infinite;
}

.between-turns {
  display: block;
  justify-content: center;
  margin: 0 auto;
  background-color: #770000;
  color: white;
  border-radius: 12px;
  width: 560px;
  padding: 10px 0px 10px 0px;
}

.between-turns h3 {
  color: white;
  padding-left: 20px;
}

#between-turns,
#dice_audio,
#damage_audio {
  display: none;
}

/* SLider */
.movement-slider {
  display: flex;
  align-items: center;
  /* margin-top: 10px; */
}

.movement-slider input[type="range"] {
  --slider-thumb-color: var(--pk_primary_color);
  /* Orange color for the thumb */
  --slider-track-color: var(--md-default-bg-color);
  /* Light gray color for the track */
  --slider-progress-color: var(--pk_primary_dark);
  /* Green color for the progress bar */

  appearance: none;
  width: 100%;
  height: 12px;
  /* background: var(--slider-track-color); */
  outline: none;
  opacity: 0.85;
  transition: opacity 0.2s;
  border-radius: 6px;
}

.movement-slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: var(--slider-thumb-color);
  cursor: pointer;
  border-radius: 50%;
}

.movement-slider input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: var(--slider-thumb-color);
  cursor: pointer;
  border-radius: 50%;
  box-sizing: border-box;
  /* Add this line */
  margin-left: 0;
  /* Add this line */
}

.movement-slider input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: var(--slider-track-color);
  border-radius: 8px;
  box-sizing: border-box;
  /* Add this line */
}

.movement-slider input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: var(--slider-track-color);
  border-radius: 8px;
}



.movement-slider input[type="range"]::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.movement-slider input[type="range"]::-ms-fill-lower {
  background: var(--slider-progress-color);
  border-radius: 8px;
}

.movement-slider input[type="range"]::-ms-fill-upper {
  background: var(--slider-track-color);
  border-radius: 8px;
}

.movement-slider input[type="range"]::-ms-thumb {
  width: 20px;
  height: 20px;
  background: var(--slider-thumb-color);
  cursor: pointer;
  border-radius: 50%;
  margin-top: 0px;
}

.movement-slider span {
  font-size: 14px;
  width: 60px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: bold;
}

/* Clickable cells in attack table */
.clickable-cell {
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.clickable-cell:hover {
  background-color: var(--pk_primary_color);
  color: var(--md-default-bg-color);
}

#attack_array {
  border-collapse: separate;
  border-spacing: 0;
}

#attack_array td {
  border-bottom: 1px solid var(--pk_primary_dim_faint);
  padding: 8px;
}

#attack_array .clickable-cell {
  position: relative;
}

/* Evading pukse border */
@keyframes pulse-border {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 165, 0, 0.7);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(255, 165, 0, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(255, 165, 0, 0);
  }
}

.evading {
  animation: pulse-border 2s infinite;
}

#AC_box {
  transition: all 0.3s ease;
}

#AC_box.evading {
  border-color: var(--pk_primary_color);
  background-color: var(--pk_primary_color);
}

/* Flash overlay */
@keyframes flash-animation {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

#flash-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
  opacity: 0;
}